.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.login_form{
  background-color: #DADDFC;
  padding: 100px 50px;
}

.form_control{
  margin-bottom: 40px;
}

input{
  border: none;
  padding: 10px 5px;
  margin: 0 0 0 20px;

}

button{
  border: none;
  padding: 10px 5px;
  width: 100%;
  background-color: #396EB0;
  color: white;
  border-radius: 5px;

}

label{
  color: #396EB0;
}
